<%- include('./shared/header.ejs') %> 
<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="post-topbar card m-5">
                <a class="btn btn-info btn-custom" data-toggle="modal" data-target="#exampleModal"
                    href="">New Post</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/HandleAdd" method="POST">
            <div class="modal-content">
                <div class="modal-header text-center text-white">
                    <h5 class="modal-title " id="exampleModalLabel">Post a text</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <input name="title" class="form-control my-3" placeholder="Enter Title" type="text">
                        <textarea class="form-control" placeholder="Enter Text" name="desc" id="" cols="30"
                            rows="10"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- ==============================posts========================================  -->
<div class="container">
    <div class="row">
       <% for( let index = 0; index < posts.length; index++ ) { %>
        <div class="col-md-7  card p-4 auto">
            <div class="post">
                <div class="media">
                    <img src="/images/man.jpg" width="60" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0"><%= posts[index].userID.fname+ ' '+ posts[index].userID.lname %></h5>
                        <%= posts[index].date %>
                    </div>
                </div>
                <hr>
                <h3><%= posts[index].title %> </h3>
                <p class="pt-4"><%= posts[index].desc %></p>
            </div>
            <div class="div">
            </div>
        </div>
       <% } %>

 

<!-- ==============================/posts========================================  -->

<%- include('./shared/footer.ejs') %> 
